# General
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE-specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Compiled binaries
*.apk
*.ipa
*.aab

# Sensitive files
/android/key.properties
/ios/Flutter/GoogleService-Info.plist
/android/app/google-services.json

# Log files
*.log